body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

div {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #607D8B;
    box-shadow: 0 0 5px #3F51B5;
    text-align: center;
    border-radius: 10px;
}

h4 {
    color: #fff;
    font-size: 1.8em;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    display: block;
    margin: 0 auto;
}

p {
    margin: 10px 0;
    line-height: 1.6;
    color: #fff;
    text-align: left;
}

span {
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
    width: 150px;
    color: #fff;
}

strong {
    color: #e74c3c; 
}

.normal-text {
    color: #3498db; 
}

button {
    padding: 10px 20px;
    background-color: #27ae60; 
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #2ecc71;
}

a {
    display: block;
    margin-top: 20px;
    color: #f39c12; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.payant-oui {
    color: #DC8686;
}

.payant-non {
    color: #860A35; 
}

.certifie-oui {
    color: #f39c12; 
}

.certifie-non {
    color: #164863; 
}

.gratuit {
    color: #7ED7C1;
}

.non {
    color: #e74c3c;
}
