<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div>
    <h4>{{ f.titre }}</h4>
    <img [src]="f.image" alt="Formation Image">
    <p><span>Nombre d'heures:</span> {{ f.nbheure }}</p>
    <p><span>Date de début:</span> {{ f.datedebut | date: 'dd/MM/yyyy' }}</p>
    <p><span>Les modules:</span>{{f.lesmodules}}</p>
    <p [ngClass]="{'payant-oui': f.Payant, 'payant-non': !f.Payant}">
      <span>Payant:</span> {{ f.prix| prix }}
    </p>
    <p [ngClass]="{'certifie-oui': f.certifie, 'certifie-non': !f.certifie}">
      <span>Certifié:</span> {{ f.certifie ? 'Oui' : 'Non' }}
    </p>
    <div *ngIf="!dejasinscrir(f)">
        <p>Vous etes déja inscrit dans la formation</p>
    </div>
    <div *ngIf="f.nombredeplace==0">
      le nombre de place est insuffisant
  </div>
    <button (click)="sinscrire(f)" *ngIf="dejasinscrir(f)||f.nombredeplace==0">S'inscrire</button><br>
    <a routerLink="/public/lesformation">Retour</a>
  </div>
</body>

</html>
