

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier</title>
    
</head>
<body>

<div class="container-fluid">
    <div class="contact-detail position-relative">
        <h1>Modifier formation</h1>
        <div class="contact-form">
            <form action="" [formGroup]="formation" (ngSubmit)="onSubmitForm() ">
            <div>
                <label for="titre">Titre</label>
                <input type="text" id="titre"  formControlName="titre">
            </div>
            <div>
                <label for="image">Image</label>
                <input type="text" id="image"  formControlName="image">
            </div>
            <div>
                <label for="nbheure">nembre heure </label>
                <input type="number" id="nbheure" formControlName="nbheure" >
            </div>
            <div>
                <label for="certifie">certifie</label>
                <input type="checkbox" id="certifie" formControlName="certifie" >
            </div>
            <div>
                <label for="">date debut</label>
                <input type="date" id="dtadebut"  formControlName="datedebut">
            </div>
            <div>
                <button >modifier</button>
            </div>
        </form>
        </div>
        
    </div>
</div>

</body>
</html>
