<app-header></app-header> 
<div class="container-fluid px-0">
    <div class="carousel-item active">
        <img src="assets/img/google.png" class="img-fluid" width="100%">
        <div class="carousel-caption">
            <div class="container carousel-content">
                <h6 class="text-secondary h4 animated fadeInUp" style="color: #0F9D58;">Best IT Destination</h6>
                <h1 class="text-white display-1 mb-4 animated fadeInRight" style="color: #4285F4;">Why follow when you can lead</h1>
                
                
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
