<section class="contenu">
 

    
    
    <div class="table-container">
      <div class="description">
        <h1>Liste Des Membres</h1>
      </div>


      <table >
        <tr>

          <th>Nom</th>
          <th>email </th>
          <th>nombre de visite</th>
          <th>Parametres</th>

        </tr>
        <tr *ngFor="let m of lespublic;index as i">
            <td>
              <div id="profile">
                <img src="{{m.photo}}" alt="">
                {{m.nometprenom}}
              </div>
                
            </td>
            <td>{{m.email}}</td>
            <td>{{m.nbvisite}}</td>
            <td><button (click)="rendreAdmin(m,i)">Rendre Admin</button></td>
        </tr>
        
      </table>
      
    </div>
  </section>