<section class="contenu">
    <ul class="box-info">
      <li>
        <i class='bx bxs-group'></i>
        <span class="text">
          <h3>20</h3>
          <p>Nombre des membres</p>
        </span>
      </li>
      <li>
        <i class='bx bxs-detail'></i>
        <span class="text">
          <h3>20</h3>
          <p>Nombre des formations</p>
        </span>
      </li>
      <li>
        <i class='bx bx-group'></i>    
        <span class="text">
          <h3>20</h3>
          <p>Nombre membres admin</p>
        </span>
      </li>
    </ul>

    <div class="table-container">
      <div class="description">
        <h1>liste des membres</h1>
      </div>
      <table>
        <tr>
          <th colspan="2">Les membres</th>
        </tr>
        <tr>
          <td></td>
          <td><button class="btn btn-light">changer le role</button></td>
          
        </tr>
      </table>
  </div>
  <div class="table-container">
    <div class="description">     
      <h1>liste des formations</h1>
      <button class="btn btn-light">Ajouter</button>
    </div>
   

    <table>
      <tr>
      
        <th>Les formations</th>
        <th>Date de formation </th>
        <th>nombre de place restant</th>
        <th>Parametres</th>
      
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td> 
          <button class="btn btn-light">Supprimer</button>
          <button class="btn btn-light">Modifier</button>
        </td>
      </tr>
    </table>
</div>
</section >
<div class="message-container"  *ngIf=visible>
    <img src="your-image.jpg" alt="Profile Image" class="profile-img" width="50" height="50">
    <div class="text-container">
      <p>fdskldjsqndskjd.</p>
    </div>
    <button class="btn btn-light">Répondre</button>
  </div>