
<div class="container-fluid py-5 my-5">
    <div class="container pt-5">
      <div class="row g-5 align-items-center">
        <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
            <div class="position-relative" [@fadeIn]="'in'">
                <img src="assets/img/about.png" class="img-fluid w-100 rounded" alt="About Image">
                <div class="position-absolute top-50 start-50 translate-middle">
                  <img src="assets/img/team.jpg" class="img-fluid w-100 rounded" alt="Team Image">
                </div>
              </div>
              
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
          <h5 class="text-primary mb-3">About Us</h5>
          <h1 class="mb-4 display-4">About Google Club</h1>
          <p class="lead mb-4">Founded in March 2014 as "Club MobileDev ISET Charguia," our club initially focused on mobile development, offering basic and detailed training for students and organizing various events and conferences on the subject.</p>
          <p class="mb-4">In 2015, we became a member of a community, expanding our activities and collaborating with other clubs. Consequently, our name changed to "ISET’CH Google Club." We strive to bring together all aspects ensuring the continuity of technology and its exclusivity, providing training, organizing hackathons, and participating in events and challenges to enhance the skills of our students.</p>
        </div>
      </div>
    </div>
  </div>
  