<div class="container-fluid py-5 mb-5">
    <div class="container">
        <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
            <h5 class="text-primary">Get In Touch</h5>
            <h1 class="mb-3">Contact for any query</h1>
        </div>
        <div class="contact-detail position-relative p-5" style="height: 1000px;">
            <div class="row g-5 mb-5 justify-content-center" >
                <div class="col-xl-4 col-lg-6 wow fadeIn" data-wow-delay=".3s" >
                    <div class="d-flex bg-light p-3 rounded contact-info" >
                        <div>
                            <div class="ms-3" >
                                <h4 class="text-primary">
                                    <i class="fas fa-map-marker-alt "></i>
                                    Address</h4>
                                <a href="https://www.bing.com/maps?q=ISET+Charguia&satid=id.sid%3A0b962980-57c4-0163-3f7c-6215838eda7f&FORM=KC2MAP&cp=36.840329~10.214981&lvl=12.0" class="h5 text-dark">47, Rue des Entrepreneurs Charguia II - 2035 Tunisie</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Phone -->
                <div class="col-xl-4 col-lg-6 wow fadeIn" data-wow-delay=".5s">
                    <div class="d-flex bg-light p-3 rounded contact-info">
                       
                        <div class="ms-3">
                            <h4 class="text-primary">                           
                                 <i class="fa fa-phone"></i>
                                Call Us</h4>
                            <a class="h5 text-dark" href="tel:+0123456789" target="_blank">+216 95514521</a>
                        </div>
                    </div>
                </div>

                <!-- Email -->
                <div class="col-xl-4 col-lg-6 wow fadeIn" data-wow-delay=".7s">
                    <div class="d-flex bg-light p-3 rounded contact-info">
                        
                        <div class="ms-3">
                            <h4 class="text-primary">
                                <i class="fa fa-envelope "></i>Email Us</h4>
      
                            <a class="h5 text-dark"href="mailto:contact.isetchggl@gmail.com">contact.isetchggl@gmail.com</a>
                        </div>
                    </div>
                </div>
                <div class="col  wow fadeIn" data-wow-delay=".7s">
                    <form action="" [formGroup]="message" (ngSubmit)="onSubmit() ">

                        <div class="mb-4">
                            <textarea class="w-100 form-control border-0 py-3" rows="6" cols="10"
                                placeholder="Message" formControlName="msg"></textarea>
                        </div>
                        <div class="text-start">
                            <button class="btn bg-primary text-white py-3 px-5" type="submit" [disabled]="message.invalid">Send
                                Message</button>
                        </div>
                    </form>
                </div>
            </div>    
        </div>
    </div>
</div>
