<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    
</head>
<body>

<div class="container-fluid">
    <div class="contact-detail position-relative">
        <div class="contact-form">
            <form action="" [formGroup]="personne" (ngSubmit)="onSubmitForm() ">
            <div>
                <label for="name">CIN</label>
                <input type="text" id="name"  formControlName="id">
            </div>
            <div>
                <label for="name">First and last name</label>
                <input type="text" id="name"  formControlName="nometprenom">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email" name="email">
            </div>
            <div>
                <label for="telephone">Phone number</label>
                <input type="tel" id="telephone" formControlName="phone" name="telephone">
            </div>
            <div>
                <label for="">Password</label>
                <input type="password" id="password"  name="password">
            </div>
            <div>
                <button >s'inscrire</button>
            </div>
        </form>
        </div>
        
    </div>
</div>

