<div class="container">
    <div class="text-center">
      <h1 class="display-4 text-primary mb-0">Our Formation</h1>
    </div>
  
    <div class="input-group mb-3">
        <input type="text" placeholder="name" [(ngModel)]="formationName"  class="form-control" (input)="chercher(domaine.value,free.checked)" >
        
    </div>
  
    <div class="row">
        <div class="col-md-4">
            <h3>Price</h3>
            <input class="form-check-input" type="checkbox" id="free" #free (change)="chercher(domaine.value,free.checked)">
            <label class="form-check-label" for="free">Free</label>
         
            <h3>Domains</h3>
            <select (change)="chercher(domaine.value,free.checked)" #domaine>
                <option value="tous" selected>Tous</option>
                <option value="TI">TI</option>
                <option value="MGT">MGT</option>
            </select>
          
        </div>

        <div class="col-md-8">
            <div class="formation-container">
                <div *ngFor="let t of lesformation" class="formation-item">
                    <app-formation [f]="t"></app-formation>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  