body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


h1 {
    font-size: 2.5rem;
    color: #007bff;
    margin-bottom: 0;
    text-align: center; 
    padding: 20px 0; 
}

.form-check-label:hover:after {
    background-color: blue; 
}


.input-group {
    margin-top: 15px;
}
input[type="checkbox"] {
   
    margin-left: 150px;
    
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
}

.btn-outline-secondary {
    padding: 6px ;
    height: 38px;
}

/* Formation Styles */
.row {
    margin-top: 20px;
}

.col-md-4 {
    margin-bottom: 20px;
}


.wow {
    visibility: hidden;
}
.col-md-4 {
    margin-bottom: 20px;
    background-color: #f8f9fa; 
    padding: 15px;
    border-radius: 8px;
}

.form-check {
    margin-bottom: 10px;
}

.form-check-input {
    margin-right: 8px; 
}

.form-check-label {
    display: flex;
    align-items: center;
}

.col-md-4 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.col-md-8 {
    margin-bottom: 20px;
}
.col-md-8 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    input[type="text"] {
        width: 100%;
    }
}
