<div class="container">
    <div class="text-center">
      <h1 class="display-4 text-primary mb-0">Our Formation</h1>
    </div>
  
    <div class="input-group mb-3">
      <input type="text" placeholder="name" [(ngModel)]="formationName" class="form-control">
      <button class="btn btn-outline-secondary" type="button" (click)="cherchername()">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
  
    <div class="row">
      <div class="col-md-4">
        <h3>Price</h3>
        <input class="form-check-input" type="checkbox" id="free">
        <label class="form-check-label" for="free">Free</label>
        <input class="form-check-input" type="checkbox" id="minMax" [(ngModel)]="minMaxChecked">
        <label class="form-check-label" for="minMax">Min 100 - Max 200</label>
  
        <h3>Domains</h3>
        <input class="form-check-input" type="checkbox" id="TI" [(ngModel)]="selectedDomains['TI']">
        <label class="form-check-label" for="TI">TI</label><br>
  
        <input class="form-check-input" type="checkbox" id="mgt" [(ngModel)]="selectedDomains['MGT']">
        <label class="form-check-label" for="mgt">MGT</label>
      </div>
  
      <div class="col-md-8">
        <div class="formation-container">
          <div *ngFor="let t of lesformation" class="formation-item">
            <app-formation [f]="t"></app-formation>
          </div>
        </div>
      </div>
    </div>
  </div>
  