.custom-container {
    margin-top: 50px;
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.image-container {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.image-container:hover {
    transform: scale(1.05);
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
    transform: scale(1.1);
}

@media (min-width: 576px) {
    .custom-container {
        text-align: center;
    }
}