
.text-primary {
    color: #007bff;
  }
  
  h1,
  h5 {
    margin: 0;
  }
  
  .container-fluid {
    width: 800px;
    margin-left: 400px;

}
  
  .contact-detail {
    margin-top: 20px;
  }
  
  .contact-form {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 70px;
  
    border-radius: 10px;
    box-shadow: 0 0 5px #3F51B5;
    background-color: #607D8B;
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #0b3a60;
  }
  
  input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    outline: none;
    box-shadow: inset 0 0 5px #007bff;
  }
  
  
  input[type="checkbox"] {
    border: none;
    outline: none;
    box-shadow: none;
    float: left;
  }
  
  
  button {
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error {
    border: 1px solid red;
  }
  
  .error-message {
    color: rgb(228, 2, 2);
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
  }
 