
<div class="container-fluid services py-5 mb-5">
    <div class="container">
        <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
            <h5 class="text-primary">Our departments</h5>
            <h1>Departments Built Specifically For Your Needs</h1>
        </div>
        <div class="row g-5 services-inner justify-content-center"> <!-- Added justify-content-center to center the boxes -->
            
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
                <div class="services-item bg-light">
                    <div class="p-4 text-center services-content">
                        <div class="services-content-icon">
                            <i class="fa fa-file-code fa-7x mb-4 text-primary"></i>
                            <h4 class="mb-3">Web Development</h4>
                            <p class="mb-4">In our development department, we specialize in creating dynamic websites, mobile apps, and offer continuous learning opportunities through programs like "Croco Coder" to expand our team's skills and stay ahead in the ever-evolving tech landscape.</p>
                            <a routerLink="/departement/depdev"> more Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                <div class="services-item bg-light">
                    <div class="p-4 text-center services-content">
                        <div class="services-content-icon">
                            <i class="fa fa-external-link-alt fa-7x mb-4 text-primary"></i>
                            <h4 class="mb-3">Media </h4>
                            <p class="mb-4">In our media department, we skillfully design captivating posters with Canva and Photoshop, and expertly craft compelling video montages. We prioritize creative innovation to deliver impactful and memorable media content.</p>
                            <a routerLink="/departement/depmedia"> more Details</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<router-outlet></router-outlet>
