body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Arial', sans-serif;
}


.container-fluid.bg-dark {
    color: #fff;
}

#note {
    font-size: 0.8rem;
}

.top-link a {
    color: #007bff;
}

/* Navbar Styles */
.container-fluid.bg-primary {
    color: #fff;
}

.navbar {
    padding: 1rem 0;
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.navbar-nav a:hover,
.navbar-nav a.routerLinkActive {
    color: #17a2b8;
}


.navbar-collapse i {
    font-size: 1.5rem;
    margin-left: 10px;
    color: #fff;
}

 .icone-user {
    margin-right: 60px;
}

@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
        margin: 10px 0;
    }

    .navbar-nav a {
        display: block;
        margin: 10px 0;
    }
}
