<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
</head>
<body>
    <div class="background-container">
        <img src="assets/img/background.jpg" alt="Background Image">
    </div>

    <div class="overlay">
        <img class="logo" src="assets/img/logo1.png" alt="Logo">
        <div class="button-container">
            <button type="button" class="btn btn-outline-secondary" (click)="Signup()">Sign up</button>
            <button type="button" class="btn btn-outline-secondary" (click)="login()">Log in</button>
        </div>
    </div>

    <div class="lorem-container">
        <div >
            <router-outlet></router-outlet>
        </div>
    </div>
</body>
</html>
