<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier</title>
    
</head>

<body>
    <div class="container-fluid">
        <div class="contact-form">
            <h1>Change Password</h1>
            <form action="" [formGroup]="changer" (ngSubmit)="onSubmitForm()">
                <div>
                    <label for="email">Email</label>
                    <input type="text" id="email" formControlName="email" readonly>
                </div>
                <div>
                    <label for="mdp">Old Password</label>
                    <input type="password" id="mdp" formControlName="mdp">
                </div>
                <div>
                    <label for="nmdp">New Password</label>
                    <input type="password" id="nmdp" formControlName="nmdp">
                </div>
                <div>
                    <button>Modify</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
